<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/about.css">
    <title>About | Vote</title>
</head>

<body>
    <div class="nav-wrapper">
        <nav class="nav" role="custom-dropdown">
            <!-- <input type="checkbox" id="button">
            <label for="button" onclick></label> -->
            <div class="logo-item">
                <a href="/templates/home.html">Logo</a>
            </div>
            <div>
                <ul>
                    <li class="list-item"><a href="/templates/home.html">Home</a></li>
                    <li class="list-item"><a href="/templates/about.html">About</a></li>
                    <li class="list-item"><a href="/templates/account.html">Account</a></li>
                    <li class="list-item"><a href="/templates/result.html">Result</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="wrapper">
        <h1>About</h1>
    </div>
</body>

</html>